@mixin mega-menu{
    .btm-nav .section-wrapper .nav-tabs>li>a{
        padding: 14px 35px;
    }
    .main-nav{

                margin-left: 0;
                margin-right: 0;
        .mega-menu{
            ul{

                width: 980px;
                float: none;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                margin-left: auto;
                margin-right: auto;
                width: 100%;

                img{
                padding-left: 10px;
                padding-right: 12px;
                height: 30px;
                }

                li{
                display: table-cell;
                width: 1%;
                float: none;
                }

                li:first-child>a:hover{
                    background-color: #3084cd;
                }

                li>a {
                border-radius: 0;
                color: #fff;
                border-left: 1px solid #4d9ae7;
                padding: 18px 0 18px 5px;
                font-size: initial;
                height: 80px;
                text-align: left;
                position: relative;


                background: #3084cd;
                background-image: initial;
                background-position-x: initial;
                background-position-y: initial;
                background-size: initial;
                background-repeat-x: initial;
                background-repeat-y: initial;
                background-attachment: initial;
                background-origin: initial;
                background-clip: initial;
                background-color: rgb(48, 132, 205);
                padding: 0;
                margin: 0;

                border-radius: 0;
                border-left: 1px solid #4d9ae7;
                padding: 18px 0 18px 5px;
                font-size: initial;
                height: 80px;
                text-align: left;
                position: relative;

                    &:hover{
                    background-color:#f7922c;
                    }

                span{

                    }

                    &:nth-child(2){
                    position: absolute;
                   transform: translateY(-50%);
                    top: 50%;
                    width: 84px;
                    }


            }
        }
    }
}

     .arrow-down{
               right: 12px;
               position: absolute;
               transform: translateY(-50%);
               top: 50%;
                margin: 0 5px;
                    }

    .btm-nav{  margin-left: 0;
                margin-right: 0;
        .mega-menu{
            ul{

                width: 980px;
                float: none;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                margin-left: auto;
                margin-right: auto;
                width: 100%;

                img{
                padding-left: 10px;
                padding-right: 12px;
                height: 30px;
                }

                li{
                display: table-cell;
                width: 1%;
                float: none;
                }

                li:first-child>a:hover{
                    background-color: #3084cd;
                }

                li>a {
                border-radius: 0;
                color: #fff;

                padding: 18px 0 18px 5px;
                font-size: initial;
                height: 80px;
                text-align: left;
                position: relative;


                background: #3084cd;
                background-image: initial;
                background-position-x: initial;
                background-position-y: initial;
                background-size: initial;
                background-repeat-x: initial;
                background-repeat-y: initial;
                background-attachment: initial;
                background-origin: initial;
                background-clip: initial;
                background-color: rgb(48, 132, 205);
                padding: 0;
                margin: 0;

                border-radius: 0;

                padding: 18px 0 18px 5px;
                font-size: initial;
                height: 80px;
                text-align: left;
                position: relative;

                    &:hover{
                    border-bottom: 3px solid orange;
                    }

                    &:focus{
                        background-color: #f7922c;
                        border-bottom: 3px solid orange
                    }



                   span>.arrow-down{
               right: 12px;
               position: absolute;
               transform: translateY(-50%);
               top: 50%;
                margin: 0 30px;
                    }
        }
    }
}

}
}



