@mixin sidebox{
    .promo{
    .scroll-side-box{
        .ttl-side h2{
            background: #23dedc;
            font: 1.6em Arial, Helvetica, sans-serif;
            line-height: 1.1875em;
            text-transform: uppercase;
            padding: 11px 17px 9px 23px;
            overflow: hidden;
            margin: 0;
            width: 100%;
            font-weight: bold;

        }
    }
}
}
