@mixin structure{
    .top-padding{
        padding-top: 20px;
    }
    .bottom-padding{
        padding-bottom: 20px;
    }
    .columns.no-padding{
        padding: 0px;
    }
    .row.mainContent,
    .row.pageHeader,
    .row.progressBar,{
        width: 100%;
    }
}
